<div class="bar">
    <div class="container">
        <div class="row">
            <div class="col-md-2 mx-left">

            </div>
            <div class="col-md-8 max-auto">

            </div>
            <div class="col-md-2 mx-right">
                <div class="playpause">
                    <input type="checkbox" value="None" id="playpauseBar" name="check" checked/>
                    <label for="playpauseBar" tabindex=1></label>
                </div>
            </div>
        </div>
    </div>
</div>