<p>preview-track works!</p>

<div class="rectangle-box">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-start justify-content-center image-container">
                <img style="border-radius: 30px; padding: 7%;"
                    src="https://images.squarespace-cdn.com/content/v1/5ede5114b8b71f40bdb49cf0/1594745914306-HF3MYTCCC9FOW7II3BBV/Tame-Impala-Currents1200px_1200.jpg"
                    alt="Your Image" class="img-fluid">
                <img class="overlay-image"
                    src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAyL3Zwcm9qZWN0b2xkMS10YW5nLTE0Njktam9iMTcyMi1wLnBuZw.png"
                    alt="Overlay Image">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="#">
                <h4>Let it Happen</h4>
            </a>
            <a href="#">
                <h6>Tame Impala</h6>
            </a>
        </div>
    </div>
</div>