.rectangle-box {
    width: 250px; /* Breite der Box */
    height: 320px; /* Höhe der Box */
    background-color: #333333; /* Hintergrundfarbe der Box */
    color: #fff; /* Textfarbe */
    text-align: center; /* Textausrichtung zentriert */
    line-height: 100px; /* Vertikale Ausrichtung des Textes in der Mitte der Box */
    border-radius: 20px;
}

a {
    text-decoration: none; /* Remove underline (normal text) */
    color: inherit; /* Inherit text color from parent */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  a:hover {
    text-decoration: underline; /* Underline on hover */
  }

  .image-container {
    position: relative;
    overflow: hidden; /* Verhindert, dass der verschwommene Effekt über den Container hinausgeht */
  }

  .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden; /* Anfangs nicht sichtbar */
    transition: visibility 0.5s; /* Animiere den Übergangseffekt */
  }

  .image-container img {
    transition: filter 0.5s; /* Animiere den Übergangseffekt */
  }

  .image-container:hover .overlay-image {
    visibility: visible; /* Zeige das zweite Bild auf Hover */
  }

  /* CSS-Stile für den Hover-Effekt */
  .image-container:hover img {
    filter: blur(3px); /* Anpassen der Unschärfe auf Hover */
  }